.nav-item {
  margin: 5px 0px;
}
.nav-item a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}
.logo a {
  text-decoration: none;
  color: white;
}
.active {
  border: 1px solid white;
  padding: 1px 4px;
  border-radius: 5px;
  font-weight: bold;
}
